__pycache__/
**/__pycache__/
*out
*.swp
src/pairwise/rank_llm_*/
*py~

# Legacy or backup
runs/*
!runs/supervised
!runs/pool-for-dense
!runs/pool-for-dense-7b
!runs/pool-for-dense-70b

# Python packaging
*.egg-info/
*.egg
dist/
build/

*log/
*.log
*.err

bbeir/

qrel-analysis/dense-7b/*/*
!qrel-analysis/dense-7b/*/all.jsonl
qrel-analysis/dense-70b/*/*
!qrel-analysis/dense-70b/*/all.jsonl

qrel-analysis/autoqrels/
qrel-analysis/autoqrels-rank/
qrel-analysis/autoqrels-quantile/
qrel-analysis/autoqrels-full/
