__pycache__/
**/__pycache__/
*out
*.swp
src/pairwise/rank_llm_*/
*py~

# Legacy or backup
runs/*
!runs/run.msmarco-passage-v2.bm25.trec-dl-2021.txt
!runs/run.msmarco-passage-v2.bm25.trec-dl-2022.txt
!runs/run.msmarco-passage-v2.bm25.trec-dl-2023.txt
!runs/run.msmarco-passage.bm25.trec-dl-2019.txt
!runs/run.msmarco-passage.bm25.trec-dl-2020.txt
!runs/pool-for-dense

# Python packaging
*.egg-info/
*.egg
dist/
build/

*log/
*.log
*.err

bbeir/

qrel-analysis/dense-70b/*/*
!qrel-analysis/dense-70b/*/all.jsonl
